/* This is the body */
body {
    background-color: rgb(71, 69, 69);
    font-family:'Open Sans', sans-serif;
    
}  

#hero-wrapper {
    width: 90vw;
    margin-right:auto;
    margin-left:auto;
    position: static;
   
}


#name {
    color: white;
    width: 400px;
    height: 400px;
    margin-right:auto;
    margin-left:auto;
    text-align: left;
    margin-top: 0%;
    padding-top: 15%;
    text-decoration: none;
    position: relative;
    background-image: url(img/square.png);
    background-position-y: center;
    background-size: 35vw;
    background-repeat: no-repeat;
    background-position-x: center;

    
}

h1{
    font-size: 50px;
}

h2 {
    color: white;
    
    
}

h1,h2,h3 {
    font-family: "Palatino", serif;
}

p {
    width: 350px;
    text-align: left;
    color: white;
    font-weight: lighter;
    
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(350px, auto);
    
    grid-gap: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
}

.gridtext {
    grid-column: 2/3;
    grid-row: 1/2;

    background-color: white;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: left;

}

.grid-writing {
    font-size: 14px;
}

.placeholder-pic {
    background-image: url("http://i.paciolanmail.com/wpm/935/HotSeats/PlaceHolder-min.jpg");
    background-size: cover;
    width: 250px;
    height: 350px;
    background-position: center;
    grid-column: 1/2;
    grid-row: 1;
    margin-left: 35%;
}


h3 {
    color:white;
    font-size: 40px;  

}

.gridb {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, 100px);
    
    grid-gap: 30px;
    margin-right: 15vw;
    margin-left: 15vw;
   
}

.grid-writingb {
    font-size: 12px;
    width: 100%;
}

#box1 {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: auto;
    
    
}

.sbox {
    position: relative;
    background-color: rgb(0, 128, 128, 100);

}

.boximg{
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.creators {
    margin-top: 200px;
}

#cretimg {
    background-image: url("http://i.paciolanmail.com/wpm/935/HotSeats/PlaceHolder-min.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: inherit;
    grid-column: 2/4;
    grid-row: 1/3;

}

.leader {
    margin-top: 50px;
}

#leadimg {
    background-image: url("http://i.paciolanmail.com/wpm/935/HotSeats/PlaceHolder-min.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: inherit;
    grid-column: 1/3;
    grid-row: 1/3;
}



#formsbox {
    padding-top: 200px;
    text-align: center;
   padding-bottom: 200px;

}

#formimg {
    background-image: url(img/square.png);
    background-position-y: top;
    background-size: 35vw;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 600px;
}

#contact {
    margin-right: 12%;
    color: white;
}

#forms {
    
    align-items: center;
    margin-left: auto;
    margin-right: auto;
      
}



input, textarea {
    margin-top: 5px;
    margin-left: 15%;
    margin-right: 20%;
    border: none;
    background-color: #f7f7f7;
   
}

input[type=text] {
    height: 40px;
    width: 30%;
    padding-left: 10px;
}

textarea {
    height: 80px;
    width: 30%;
    padding-left: 10px;
    padding-top: 10px;
}


input[type=submit]:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

input[type=submit] {
    text-align: left;
    margin-left: 37%;
    border: none;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 15px;
    
}


