/* This is the body */
body {
    background-color: rgb(71, 69, 69);
    font-family:'Righteous', serif;
    
}  

#hero-wrapper {
    width: 90vw;
    margin-right:auto;
    margin-left:auto;
    position: static;
}

#name {
    color: white;
    width: 400px;
    height: 400px;
    margin-right:auto;
    margin-left:auto;
    text-align: left;
    margin-top: 15%;
    text-decoration: none;
    position: relative;
}

h1{
    font-size: 50px;
}

h2 {
    color: white;
    
}

p {
    width: 400px;
    text-align: left;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(350px, auto);
    
    grid-gap: 0px;
    margin-right: auto;
    margin-left: auto;
}

.gridtext {
    grid-column: 2/3;
    grid-row: 1/2;

    background-color: white;

    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: left;
}

.espresso-pic {
    background-image: url("http://i.paciolanmail.com/wpm/935/HotSeats/PlaceHolder-min.jpg");
    background-size: cover;
    width: 250px;
    height: 350px;
    background-position: center;
    grid-column: 1/2;
    grid-row: 1;
    margin-left: 25%;
}

#aboutmeparent {
    display:flex;
   margin-right: auto;
   margin-left: auto;
   position: relative;
}


#abimg {
    
    width: 250px;
    height: 300px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
}


h3 {
    color:white;
    font-size: 30px;  

}